<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.proyectotfg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoTFG">
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Turista.MainActivityChat"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Guia.MainActivityDetallesderuta"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Guia.MainActivityverruta"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Guia.MainActivityvistademonumentos"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Guia.MainActivityaddmonument"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Guia.MainActivityadd"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Guia.MenuActivityG"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Principal.Turista.MenuActivityT"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Login.pag_DatosAdicionales"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Login.pag_Registro"
            android:exported="false" />
        <activity
            android:name="com.proyecto.proyectotfg.Login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>